*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
text{
    z-index: 2;
}
.title { 
    display: flex;
    justify-content: space-between;
    color:aliceblue;
}
.title a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: aliceblue;
    text-decoration: none;

}
.title p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: aliceblue;
}
.bodytext h1{
    margin-left: 34.5vw;
    margin-top: 15vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: aliceblue;
}
body{
    background-image: url(Images/deepfieldhubble.jpg);
    z-index: 0;
    
}
cbs{
z-index: 0;
}
.galaxy img{
    width: 300px;
  height: 300px;

}

.galaxy{
  position: relative;
  animation: galaxy 10s infinite;
}

@keyframes galaxy {
    0% {left: -100vw;}
    100% {left: 2160px;}
  }

 .blackhole img{
    width: 500px;
  height: 500px;

}
.blackhole{
    position:relative;
    animation: blackhole 10s infinite;
  }
  
  @keyframes blackhole {
   
    0%{transform: skewY(0deg); top: 40vh;}
    50%{transform:skewX(30deg);}
    100%{transform: skewY(0deg); top: -105vh;}
    


    }
    .lava img{
        width: 300px;
      height: 300px;
    
    }
    
    .lava{
      position: relative;
      animation: lava 15s infinite;
    }
    @keyframes lava {
        0% {transform: scale(150%); top: 40vh;}
    50%{transform:scale(100%);}
    100%{transform:scale(150%);top: -105vh;}
     
      }
      .earf img{
        width: 200px;
      height: 200px;
    
    }
    
    .earf{
      position: relative;
      animation: earf 20s infinite;
    }
    
    @keyframes earf {
        0%{ transform: rotate(0deg);}
        25%{transform:rotate(360deg);}
        100%{transform:rotate(0deg);}
      }

      .neptune{
        position: absolute;
        top: 5vh;
        right: 40vw;
      }

  
